<div class="jtk-demo-main" id="jtk-demo-chatbot">

  <!-- main drawing area -->
  <div class="jtk-demo-canvas">
    <jsplumb-surface [toolkitParams]="toolkitParams"
                     [renderParams]="renderParams"
                     [view]="view"
                     url="/assets/dataset.json"></jsplumb-surface>

    <!-- controls -->
    <jsplumb-controls></jsplumb-controls>

    <!-- miniview -->
    <jsplumb-miniview></jsplumb-miniview>
  </div>
  <div class="jtk-demo-rhs">

    <!-- the node palette -->
    <div class="sidebar node-palette"
         jsplumb-surface-drop
         selector=".jtk-chatbot-palette-item"
         [dataGenerator]="dataGenerator">
      <div *ngFor="let nodeType of nodeTypes" class="jtk-chatbot-palette-item" [attr.data-type]="nodeType.type" title="Drag to add new">{{nodeType.label}}</div>
    </div>

    <!-- node/edge inspector -->
    <app-inspector></app-inspector>

  </div>


</div>
